<br>
<h1>Count Down</h1> 

<div class="text-center countDown">
  <timer autostart="false" end-time="timeObj.time">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
</div>

<form class="form-signin"> 
	{{timerRunning}}

  <div class="form-group text-nowrap">
      <label for="fromdate">Count Down To: </label>
      <input ng-model="countDown.toDate" ng-change="countdownTimer('dateChange')"  required="required"  type="date" placeholder="to date"/>
      <button ng-model="style" type="button" class="btn btn-default" ng-click="countdownTimer('playPause')"><span class="{{countDown.style}}"></span></button>
  </div>

</form>

