
<br>
<h1>Events</h1> 

<div>
  <form> 
      <div class="messages-container data">

      	<table class="table table-bordered">
        	<thead>
          		<th>Event</th>
          		<th></th>
        	</thead>
        	<tbody>
          		<tr ng-repeat="item in events">
              		<td>{{item.activity}}</td>

          		</tr>
        	</tbody>
    		</table>

      </div>

      <div class="row" ng-cloak>
          <div ng-repeat="item in events">
              <div class="col-md-1">
                  

              </div>
          </div>
      </div>
  </form>
</div>
