
<!-- Navbar directive for all pages -->
<navbar></navbar> 

<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2>
    <!-- <label for="inputEmail" class="sr-only">email address</label> -->
    <input ng-model="login.email" type="email" id="inputEmail" class="form-control" placeholder="email address" required autofocus>
    <!-- <label for="inputPassword" class="sr-only">password</label> -->
    <input ng-model="login.password" type="password" id="inputPassword" class="form-control" placeholder="password" required>
    <div class="checkbox">
      <label>
        <input ng-model="login.keepLoggedin" type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button ng-click="loginUser(login)" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <div>Don't have an account ?<a ng-href="#/signup"> Sign Up </a></div>
  </form>

</div> <!-- /container -->

