<div>
  <a href="#/history">History</a>
  <a href="#/track">Tracking</a>
  <form> 
    <h1>Reports</h1> 

      <div class="row">
          <label for="dateFrom"> From Date:</label>
          <input ng-model="option.fromDate" required="required" type="date" placeholder="Date to start from"/>
      </div>

      <div class="row">
    
          <label for="toDate"> To Date:</label>
          <input ng-model="option.toDate" required="required" type="date" placeholder="Date to end with" /> 
      </div>

      <div class="row">
        <label for="filterBy">Filter By: </label>
        <select ng-options="type.name for type in reportType" ng-model="type.value"></select>
      </div>

    <div class="messages-container data" ng-cloak>
	    <table class="table table-hover table-striped table-bordered">
        <thead>
          <th>Activity</th>
          <th>Date Posted</th>
          <th>Time Posted</th>
          <th>Time Tracked</th>
          <th>Billable</th>
        </thead>

        <tbody> 
          <tr ng-repeat="item in report | filterByOptions:type.value:option">
            <td >{{item.activity}}</td>
            <td >{{item.date}}</td>
            <td >{{item.time}}</td>
            <td >{{item.hours}} hrs, {{item.minutes}} mins, {{item.seconds}} secs</td>
            <td >{{item.billable}}</td>
          </tr>
        </tbody>
    	</table>
    </div>
    <div class="row">
    	<a href="#/logout">Log Out</a>
    </div>

  </form>
</div>