<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
    <!-- <label for="usernameSignup" class="sr-only">Your name</label> -->
    <input ng-model="signup.username" type="text" id="usernameSignup" class="form-control" placeholder="your name" required autofocus>
    <!-- <label for="emailSignup" class="sr-only">Email address</label> -->
    <input ng-model="signup.email" type="email" id="emailSignup" class="form-control" placeholder="email address" required>
    <!-- <label for="passwordSignup" class="sr-only">Password</label> -->
    <input ng-model="signup.password" type="password" id="passwordSignup" class="form-control" placeholder="password" required>

    <!-- <label for="passwordSignupConfirm" class="sr-only">Password confirm</label> -->
    <input ng-model="signup.confirmPassword" type="password" id="passwordSignupConfirm" class="form-control" placeholder="confirm your password" required>    

    
    <button ng-click="signupUser(signup)" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <div>Already signed up ?<a ng-href="#/login"> Log In </a></div>
  </form>

</div> <!-- /container -->

