
<div>
  <a href="#/report">Reports</a>
  <a href="#/history">History</a>
  <form> 
    <h1>Track Activity</h1> 

    <timer autostart="false" interval="1000">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>

    <div class="messages-container data" ng-cloak>
	    <table class="table table-bordered">
        <thead>
          <th>Activity</th>
          <th>Track</th>
        </thead>

        <tbody>
          <tr ng-repeat="item in activities">
            <td class="Activity">{{item.$id}}</td>
            <td><button ng-model="style" type="button" class="btn btn-default" ng-click="timeTracker(item, $index)"><span class="{{item.style}}"></span></button></td>
          </tr>
        </tbody>
    	</table>
    </div>
    <div class="row">
    	<a href="#/logout">Log Out</a>
    </div>

  </form>
</div>


