/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}*/
path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}

.countDown {
	font-size: 20px;
}

.TrackActivity {
	width: 95%;
}

.DetailReportActivity {
	width: 50%;	
}

.SummaryReportActivity {
	width: 75%;	
}


